{% load static %}
<!D<DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Engineering Technical Test</title>
    <link href="{% static 'petapp/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'petapp/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'petapp/bootstrap3.3.6.min.css' %}">
    <script src="{% static 'petapp/jquery.min.js' %}"></script>
    <script src="{% static 'petapp/bootstrap.min.js' %}"></script>
<style>
.form-inline .form-control {
    display: inline-block;
    width: 400px;
    vertical-align: middle;
}
</style>
</head>
<body>
<nav>
    <div class="logo">Backend Engineering Technical Test</div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
    </label>
</nav>
<br>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Technical Test</div>
        <div class="panel-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-inline">
                    <div class="col-md-12 form-group">
                        <label class="col-sm-2 col-form-label" for="policy">Policy Type:</label>
                        <select required="required" class="form-control" name="policy" id="policy">
                            <option value="" selected="selected" disabled >Policy</option>
                            <option value="Annual">Annual</option>
                            <option value="Lifetime">Lifetime</option>
                            <option value="Pre Existing">Pre Existing</option>
                        </select><br><br>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="col-md-12 form-group">
                        <label class="col-sm-2 col-form-label" for="species">Species:</label>
                        <select required="required" class="form-control" id="species" name="species">
                            <option value="" selected="selected" disabled>Species</option>
                            <option value="Dog">Dog</option>
                            <option value="Cat">Cat</option>
                        </select><br><br>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="col-md-12 form-group">
                        <label class="col-sm-2 col-form-label" for="age">Pet Age:</label>
                        <select  required="required" class="form-control" id="age" name="age" >
                            <option value="" selected="selected" disabled>Age</option>
                            <option value="0-5">0-5</option>
                            <option value="5-10">5-10</option>
                        </select><br><br>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="col-md-12 form-group">
                        <label class="col-sm-2 col-form-label" for="amount">Amount:</label>
                        <select required="required" class="form-control" name="amount" id="amount">
                            <option value="" selected="selected" disabled>Amount</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="2000">2000</option>
                        </select><br><br>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="col-md-12 form-group">
                        <label class="col-sm-2 col-form-label" for="variety">Breed Variety:</label>
                        <select required="required" class="form-control" name="variety" id="variety">
                            <option value="" selected="selected" disabled>Variety</option>
                        </select><br><br>
                    </div>
                </div>
                <p>{{error}}</p>
                <div class="form-inline">
                    <div class="col-md-12 form-group">
                        <input type="submit" class="btn btn-primary btn-block py-2 mt-5" value="Submit" style="font-family: Helvetica, Arial, sans-serif;width:150px;margin-left:450px;"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
$species = $("select[name='species']");
$variety = $("select[name='variety']");

$species.change(function() {

if ($(this).val() == "Dog") {
$("select[name='variety'] option").remove();
$("<option value='' selected disabled>Variety</option>").appendTo($variety);
$("<option value='POM'>POM</option>").appendTo($variety);
$("<option value='PUG'>PUG</option>").appendTo($variety);
}

if ($(this).val() == "Cat") {
$("select[name='variety'] option").remove();
$("<option value='' selected disabled>Variety</option>").appendTo($variety);
$("<option value='CAT1'>CAT1</option>").appendTo($variety);
$("<option value='CAT2'>CAT2</option>").appendTo($variety);
}

});
});
</script>

</body>
</html>